USE [master]
GO
/****** Object:  Database [BD_INVENTARIO]    Script Date: 22-11-2025 12:23:30 ******/
CREATE DATABASE [BD_INVENTARIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_INVENTARIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_INVENTARIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_INVENTARIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_INVENTARIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_INVENTARIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_INVENTARIO]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MARCA] [varchar](58) NULL,
	[MODELO] [varchar](58) NULL,
	[CATEGORIA] [varchar](58) NULL,
	[PRECIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [varchar](58) NULL,
	[CONTRASENA] [varchar](58) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_PRODUCTO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_PRODUCTO]

@P_ID INT,
@P_MARCA VARCHAR (58),
@P_MODELO VARCHAR (58),
@P_CATEGORIA VARCHAR (58),
@P_PRECIO INT

AS
BEGIN

UPDATE PRODUCTO
SET MARCA = @P_MARCA,
	MODELO = @P_MODELO,
	CATEGORIA = @P_CATEGORIA,
	PRECIO = @P_PRECIO
WHERE ID = @P_ID;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AGREGAR_PRODUCTO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AGREGAR_PRODUCTO]

@P_MARCA VARCHAR (58),
@P_MODELO VARCHAR (58),
@P_CATEGORIA VARCHAR (58),
@P_PRECIO INT

AS
BEGIN

INSERT INTO PRODUCTO (MARCA, MODELO, CATEGORIA, PRECIO)
VALUES(@P_MARCA, @P_MODELO, @P_CATEGORIA, @P_PRECIO)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_PRODUCTO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_PRODUCTO]

@P_ID INT
AS
BEGIN

DELETE FROM PRODUCTO WHERE ID = @P_ID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PRODUCTO_FILTRO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_PRODUCTO_FILTRO]

@P_FILTRO VARCHAR(58)

AS
BEGIN

SELECT * FROM PRODUCTO WHERE MARCA LIKE '%' + @P_FILTRO + '%' OR
MODELO LIKE '%' + @P_FILTRO + '%' OR CATEGORIA LIKE '%' + @P_FILTRO + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECCIONAR_PRODUCTO]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECCIONAR_PRODUCTO]
AS
BEGIN

SELECT * FROM PRODUCTO;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_VALIDAR_LOGIN]    Script Date: 22-11-2025 12:23:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VALIDAR_LOGIN]

@P_USU_NOMBRE VARCHAR (58),
@P_CONTRASENA VARCHAR (58)
AS
BEGIN
SELECT COUNT(*) FROM USUARIO WHERE
USU_NOMBRE = @P_USU_NOMBRE AND CONTRASENA = @P_CONTRASENA;
END
GO
USE [master]
GO
